<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>memory frame.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B29E406E2DFC07E30075CB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B29E407E2DFC07E40075CB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B29E40882DFC07E40075CB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
